.frontProject {
    background: var(--card-project-background-front);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backProject {
    background: var(--card-project-background-front);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}