@media screen and ( min-width: 220px  )
  .home-main-box
    width: 100%
    height: max-content
    .jumbotron
      margin: auto 0
      display: flex
      flex-direction: column
      align-items: center
        // margin: 20px
      background: var(--background-color)
      color: var(--text-color)
      .display-4
        text-align: center

@media screen and ( min-width: 1024px  )
  .home-main-box
    .jumbotron
      display: flex
      flex-direction: column
      align-items: center
      // margin: 20px
      .display-4
        text-align: center

      .lead
        max-width: 800px
